PORT=5000
DATABASE_URL=postgresql://MARKETPLACE:MARKETPLACE@localhost:5432/Marketplace

BETTER_AUTH_SECRET=vSBx0jt8XjFb6SXQ3GrlSKTMsGSsBX0u
BETTER_AUTH_URL=http://localhost:5000

REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:3000

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASSWORD=your-smtp-password
SMTP_FROM=noreply@example.com
